[submodule "plugins/bongo"]
	path = plugins/bongo
	url = https://github.com/dbrock/bongo.git
[submodule "plugins/android-mode"]
	path = plugins/android-mode
	url = https://github.com/remvee/android-mode.git
[submodule "plugins/autocomplete"]
	path = plugins/autocomplete
	url = https://github.com/m2ym/auto-complete.git
